/monografia.log
/monografia.lot
/monografia.out
/monografia.synctex.gz
/monografia.toc
/monografia.aux
/monografia.bbl
/monografia.blg
/monografia.brf
/monografia.lof
/monografia.acn
/monografia.glo
/monografia.glsdefs
/monografia.ist
/texput.log
tex/Atividades.log
tex/Probabilidade.log
tex/Probabilidade.tex
tex/Probabilidade.tex~
